body{
<<<<<<< HEAD
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding: 0;
    margin: 0;
    background-color: #c4c9cc;
}
.container{
   width: 80%;
   margin: auto;
   overflow: hidden;
} 
ul{
   margin: 0;
   padding: 0;
}
.main-content{
   color: black;
   text-align: center;
}
.btnSubscribe{
   margin: 38px;
   background: #1de81d;
   border: 0;
   padding-left: 20px;
   padding-right: 20px;
   color: #ffffff;
   height: 25px;
}
header{
   background:#35424a;
   color: #ffffff;
   padding-top: 30px;
   min-height: 70px;
   border-bottom:rgb(44, 187, 16) 3px solid;
}
header a{
   color: #ffffff;
   text-decoration: none;
   font-size: 16px;
=======
   font: 15px/1.5 Arial, Helvetica,sans-serif;
   padding: 0;
   margin: 0;
   background-color: #c4c9cc;
}
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
} 
ul{
  margin: 0;
  padding: 0;
}
.main-content{
  color: black;
  text-align: center;
}
.btnSubscribe{
  margin: 38px;
  background: #1de81d;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  height: 25px;
}
header{
  background:#35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom:rgb(44, 187, 16) 3px solid;
}
header a{
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
>>>>>>> ft-user-should-be-to-signup-#165595674
}


header li{
<<<<<<< HEAD
   margin:left;
   display: inline;
   padding: 0 20px 0 20px;
}
header #branding{
   float: left;
}
header #branding h1{
   margin: 0;
}
header nav{
   float: right;
   margin-top:10px;
}
header .highlight, header .current a{
   color: #1de81d;
   font-weight: bold;
}
header a:hover{
   color:#cccccc;
   font-weight: bold;
}
#showcase{
   min-height: 400px;
   background: url('/Quick-Credit/UI/image/background.jpg') no-repeat;
   background-size: cover;
   text-align: center;
   color:#35424a
}
#showcase h1{
   margin-top: 100px;
   font-size: 55px;
   margin-bottom: 10px
}
#showcase p{
   font-size: 20px;
}
#newsletter{
   padding: 15px;
   color: antiquewhite;
   background: #35424a;

}
#newsletter h1{
   float: left;
}
#newsletter form{
   float: right;
   margin-top:15px;
}
#newsletter input[type="email"]{
   padding: 4px;
   height: 15px;
   width:250px;
}
.footer{
   height: 130px;
   width: 100%;
   position: relative;
   background:#c4c9cc;
   margin-top: -40px;
   clear: both;
   padding-top: 1%;
   color:black;
}
.footer-grid{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   text-align: center;
   grid-column-gap: 5%;
   width: 90%;
   margin-left: auto;
   margin-right: auto;

}
.footer-grid ul li a{
   color: rgb(7, 7, 7);
}
.footer-grid ul li a:hover{
   color: white;
   font-style: italic;
   text-shadow: 1px 1px 1px #333;
}
.footer-grid .no-style li{
   list-style-type: none;
=======
  margin:left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding{
  float: left;
}
header #branding h1{
  margin: 0;
}
header nav{
  float: right;
  margin-top:10px;
}
header .highlight, header .current a{
  color: #1de81d;
  font-weight: bold;
}
header a:hover{
  color:#cccccc;
  font-weight: bold;
}
#showcase{
  min-height: 400px;
  background: url('../image/background.jpg') no-repeat;
  background-size: cover;
  text-align: center;
  color:#35424a
}
#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px
}
#showcase p{
  font-size: 20px;
}
#newsletter{
  padding: 15px;
  color: antiquewhite;
  background: #35424a;

}
#newsletter h1{
  float: left;
}
#newsletter form{
  float: right;
  margin-top:15px;
}
#newsletter input[type="email"]{
  padding: 4px;
  height: 15px;
  width:250px;
}
.footer{
  height: 130px;
  width: 100%;
  position: relative;
  background:#c4c9cc;
  margin-top: -40px;
  clear: both;
  padding-top: 1%;
  color:black;
}
.footer-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  text-align: center;
  grid-column-gap: 5%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

}
.footer-grid ul li a{
  color: rgb(7, 7, 7);
}
.footer-grid ul li a:hover{
  color: white;
  font-style: italic;
  text-shadow: 1px 1px 1px #333;
}
.footer-grid .no-style li{
  list-style-type: none;
>>>>>>> ft-user-should-be-to-signup-#165595674
}

